<div style="float: right;">
<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc" styleClass="custom-toast"></p-toast>
<ng-template #loggedOut>
  <p-card header="Login" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="assets/Images/login.png" height="220px" width="100px">
    </p-header>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input pInputText class="form-control" name="phone" [(ngModel)]="form.phone" #phone="ngModel" placeholder="Phone"
            required />
          <div *ngIf="f.submitted && phone.invalid" class="error">
            <div *ngIf="phone.errors.required" class="error">Phone is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" pPassword class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" placeholder="Password"
            required minlength="6" />
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required" class="error">Password is required</div>
            <div *ngIf="password.errors.minlength" class="error">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <button pButton type="submit" label="Login" icon="pi pi-sign-in" class="ui-button-primary"></button>
        </div>
      </form>
      <hr>
    <p-footer>
      <p>Don't have an account?</p>
      <a pButton type="button" routerLink="/signup" label="Sign Up" icon="pi pi-user-plus" class="ui-button-secondary"></a>
    </p-footer>
</p-card>
</ng-template>
</div>